<h2>Flights</h2>

<button>
  <%= link_to 'Create Flight', new_flight_path %>
</button>

<br><br>


<%= table_for @flights, [:date, 'Flight', 'From > To', :airplane_id, 'Seat', 'Edit','Delete'], class:'flight-table' do |flight| %>
  <%= field l(flight.date, format: '%d/%m/%Y') %>
  <%= field link_to(flight.flight_number, flight_path(flight.id)) %>
  <%= field flight.from + ' > ' + flight.to %>
  <%= field flight.airplane.name %>
  <%= field flight.airplane.rows*flight.airplane.columns-flight.reservations.length %>
  <%= field link_to 'Edit', edit_flight_path(flight.id) %>
  <%= field link_to 'Delete', flight_path(flight.id), method:'DELETE' %>
  <% end %>
