<% if flash[:errors].present?  %>
 <ul>
   <% flash[:errors].each do |error|  %>
     <li><%= error %></li>
   <% end %>
 </ul>

<% end %>

<%= form_for @airplane do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "747"%>

  <br>

  <%= f.label :rows %>
  <%= f.select :rows, (1..30).to_a, prompt: 'Select number of rows' %>

  <br>

  <%= f.label :columns %>
  <%= f.select :columns, [['A', 1], ['AB', 2], ['AB C', 3], ['AB CD', 4], ['AB CDE', 5]], prompt: 'Select configuration of each row' %>

  <br>
  <br>

  <%= f.submit %>


<% end %>

  <!-- < % = f.collection_select :airplane_id, Airplane.all, :id, :name, prompt:‘Select plane’ % > -->
